/*Universal properties*/
html {
  font-size:12px;
}

body {
	font-family: Helvetica, "Open Sans", serif;
	margin: 0 auto;
	height:100%;
	background-color:rgb(248,248,246);
	color:rgba(49,57,60, 0.9);
}

h1 {
	margin:0;
  font-size: 3.5rem;
  color:rgba(49,57,60, 0.9);
}

h2 {
	margin:0;
	font-size: 3.0rem;
	color:rgb(255,131,3);
}

h3 {
	margin:0;
	font-size: 2.5rem;
	color:rgb(255,131,3);
}

p {
	font-size: 2rem;
}

a {
	text-decoration:none;
  color:rgb(255,131,3);
}

b {
  color:rgb(255,131,3);
}

li {
  font-size: 2rem;
}

/* Properties for the nav bar */
.bar {
  position:fixed;
  z-index:999;
  top:0;
  width: 100%;
  background-color:rgba(49,57,60, 0.9);
  height:75px;
  border-bottom:5px solid rgba(255,131,3, 0.9);
  box-shadow: 0px 1px 10px #000000;
}

  /* parent class of bar flexbox */
  .bar ul {
    list-style-type:none;
    text-align:center;
    margin-top:20px;
  }

  /* child class of the bar flexbox */
  .bar li {
  	display:inline;
  	font-size:2rem;
    font-weight:bolder;
    padding:0px 35px;
  }

/*Hero properties for our hero in the website*/
.hero {
	height: auto;
	width:960px;
	margin: 0 auto;
}

  .hero p {
  	margin-top:300px;
  	font-size:2rem;
  	color:rgba(49,57,60, 0.9);
  }

  .hero .name {
  	font-size:4rem;
  	font-weight:bolder;
  	color:rgba(49,57,60, 0.9);
  }

  .hero .sub {
  	font-size:4rem;
  	color:rgb(255,131,3);
  	font-weight:bolder;
  }

  .hero .about {
	font-size:2rem;
	color:rgba(49,57,60, 0.9);
  }

#about-me {
  margin-top:175px;
}

.about-me {
	height: 650px;
	width:960px;
  margin: 400px auto;
}

  .about-me img {
  	width:469px;
  	height:469px;
  	position:relative;
  	z-index:0;
  }

    .about-me .par {
  	display:inline;
  	width: 40%;
  	padding-right:10%;
  	height:auto;
  	float:left;
	}

	.about-me .img-par {
      margin-top:75px;
	  	width:469px;
	  	height:469px;
	  	display:inline;
	  	float:left;
	}

	  .about-me .img-par .filter {
	  	background-color: rgba(49,57,60);
	  	width:469px;
	  	height:469px;
	  	position:absolute;
	  	z-index:1;
      opacity:.5;
      transition:1s;
	  }

    .about-me .img-par .filter:hover {
      opacity:0;
    }    

#personal-projects {
  margin-top:100px;
}

.personal-projects {
	height: 1500px;
	width:960px;
	margin: 520px auto;
}

  .personal-projects img {
  	height:475.5px;
  	width:951px;
  	margin: 25px auto;
  	box-shadow: 0px 0px 0px rgb(255,131,3);
    transition:1s;
  }

  .personal-projects img:hover {
    box-shadow: 0px 0px 25px rgb(255,131,3);
  }

.education {
	height: 500px;
  width:960px;
  margin-top:640px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:940px;
}

  .education .par {
    width:960px;
  }

    .education .par h1 {
      text-align:center;
    }

  /*NEIU image taken with a yellow filter*/
  .education .img-par {
    width:960px;
    overflow:hidden;
    margin: 25px auto;
  }

    .education .img-par img {
      height:475.5px;
      width:960px;
    }

    .education .img-par .filter {
      height:475.5px;
      width:960px;
      position:absolute;
      z-index:1;
      background-color: rgba(49,57,60);
      opacity:.5;
      transition:1s;
    }

    .education .img-par .filter:hover {
      opacity:0;
    }

/*buttons for education section*/
#education-1, #education-2, #education-3 {
  padding:15px;
  color:rgb(248,248,246);
  background-color:rgb(49,57,60);
  font-weight:bolder;
  opacity:0.7;
  transition:1s;
  cursor:pointer;
}

#education-1 img, #education-2 img, #education-3 img {
  height:18px;
  width:18px;
  margin-right:15px;
}

  #education-1 #education-1-text, #education-2-text, #education-3-text {
    background-color:rgb(49,57,60);
    color:rgb(255, 255, 255);
    display:none;
    padding:15px;
  }

.resume {
  height: 500px;
  width:960px;
  margin-top:1060px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:555px;
}

/*Styling for the form*/
.form-resume {
  font-size:2rem;
  color:rgb(255,131,3);
  font-weight:700;
}

  .form-resume input {
    width:945px;
    padding:15px;
    font-size:1.5rem;
    border:none;
    background-color:rgba(49,57,60, 0.8);
    color:rgba(255,255,255,0.9);
  }

  .form-resume .fullname {
    height:35px;
  }

  .form-resume .reason {
    width:945px;
    padding:15px;
    background-color:rgba(49,57,60, 0.8);
    color:rgba(255,255,255,0.9);
    font-size:1.5rem;
    border:none;
  }

  .form-resume .submit {
    cursor:pointer;
    width:275px;
    margin:0 auto;
    display:block;
    height:75px;
  }

/*Modification classes*/
.rotate {
   transform: rotate(90deg);
}