/* Name description */
.title {
    margin:0;
    text-align: center;
    padding-right:25px;
    padding-left:25px;
}
  
#prefix {
    font-weight: 300;
    font-size: 1.5rem;
}

#name {
    font-weight: 800;
    font-size: 3rem;
    color: #80d8ff;
    padding-bottom:25px;
}

#description {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 65px;
}

/* Learn more button */
#btn-learn {
    font-weight: 600;
    padding:1rem 2rem;
    border-radius:4px;
    border: 2px solid #80d8ff;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    font-family: 'Lato';
}

#btn-learn:active {
    transform: translateY(-0.1rem);
}