/* Name description */
.title {
    margin:0;
    text-align: center;
    padding-right:25px;
    padding-left:25px;
    animation: slideDown 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 0.2s;
}

@keyframes slideDown {
    from {
        opacity:0;
        transform: translateY(-50vh)
    } to {
        opacity:1;
        transform: translateY(0px);
    }
  }
  
#prefix {
    font-weight: 300;
    font-size: 1.5rem;
}

#name {
    font-weight: 800;
    font-size: 3rem;
    color: #00b0ff;
    padding-bottom:25px;
}

#description {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 65px;
}

/* Learn more button */
#btn-learn {
    font-weight: 600;
    padding:1rem 2rem;
    border-radius:4px;
    border: 2px solid #00b0ff;
    color: #ffffff;
    background-color: rgba(128, 216, 255, 0);
    cursor: pointer;
    font-family: 'Lato';
    animation: slideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-delay: 0.4s;
}

@keyframes slideUp {
    from {
        opacity:0;
        transform: translateY(50vh)
    } to {
        opacity:1;
        transform: translateY(0px);
    }
}

#btn-learn:active {
    transform: translateY(-0.1rem);
    animation: brighten 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

@keyframes brighten {
    from {
        background-color:rgba(128, 216, 255, 0);
    } to {
        background-color: rgba(128, 216, 255, 1);
    }
}
