@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

html, body {
    margin:0;
    padding: 0;
    font-family: "Lato", serif;
    font-size: 16px;
    color:#FFFFFF;
}

@media only screen and (orientation : landscape) {
    #subtitle {
        width:40% !important;
    }
}

.hero {
    height: 82vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: 800;
    background-color: #035584;
    /* height:8vh; */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

#filter {
    position: absolute;
    z-index: 1;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    animation:fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

#drawer {
    position: absolute;
    z-index:2;
    background-color: #FAFAFA;
    color:#424242;
    width:75%;
    left:0;
    border-radius: 0px 3px 3px 0px;
    top:0;
    bottom: 0;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    animation: slideIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes slideIn {
    from {
        width: 0%;
    }
    to {
        width:75%;
    }
}

#drawer-title {
    margin:15px;
    font-size: 1.8em;
    opacity:0;
    animation:fadeIn 1s ease-in-out 0.29s forwards;
}

#drawer hr {
    color: #424242;
    margin:0px 15px;
    opacity:0;
    animation:fadeIn 1s ease-in-out 0.29s forwards;
}

.drawer-options {
    font-size:1.4em;
    margin: 50px 15px;
    font-weight: 300;
    opacity:0;
    animation:fadeIn 1s ease-in-out 0.29s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (orientation:portrait) {
    #menu {
        display: initial !important;
        align-self: flex-start !important;
        margin:20px !important;
    }

    #home, #about, #gallery, #contact {
        display: none !important;
    }

    #nav {
        justify-content: flex-start !important;
    }
}

#menu {
    width: 32px;
    height: auto;
    cursor: pointer;
    display: none;
}

#home, #about, #gallery, #contact {
    cursor: pointer;
}

#home {
    color:#A3EFFA;
}

#intro {
    font-size: 1.5em;
    margin:0;
    animation: slideTop 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

#title {
    font-size: 3em;
    margin:0;
    flex-shrink: 3;
    animation: slideTop 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes slideTop {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0px);
    }
}

#profile {
    flex-shrink: 1;
    height: 30vh;
    width: auto;
    background-color: rgba(218,212,160,0.9);
    border-radius: 50%;
    margin:25px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    animation: pop 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0,0) rotate(180deg);
    }
    2% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1,1) rotate(0deg);
    }
}

#subtitle {
    flex-shrink:1;
    font-size: 1.2em;
    text-align: center;
    margin:15px 25px;
    font-weight: 400;
    width: 85%;
    animation: fadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#btn-more {
    all:unset;
    background-color: #A3EFFA;
    padding:0.8em 1.5em;
    color:#035584;
    font-weight: 900;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    animation: fadeIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

a {
    all: unset;
    cursor: pointer;
}