@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Pacifico&display=swap');

html {
    font-family: 'Montserrat';
    color:#0C0C0C;
    background-color: #FAFAFA;
}

body {
    margin:0px;
    height: 100vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
}

/* Mobile */
@media (pointer:none), (pointer:coarse) {
    body {
        height: auto !important;
    }

    .sample {
        width: 50vw !important;
    }
}

/* Dark mode!! */
@media (prefers-color-scheme: dark) {
    html {
        background-color: #282828 !important;
        color:#FAFAFA !important;
    }

    .subtitle {
        color: #7EBDE8 !important;
    }
}

#nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin:25px;
    width:50vw;
    max-width: 512px;
    animation: fadeIn 1s ease-in-out forwards;
}

#nav-left {
    width: 10vw;
    max-width: 64px;
    height: auto;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 1.5px;
    transition: all 250ms; 
}

#nav-home {
    width: 10vw;
    max-width: 64px;
    height: auto;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 1.5px;
    transition: all 250ms; 
}

#nav-right {
    width: 10vw;
    max-width: 64px;
    height: auto;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 1.5px;
    transition: all 250ms; 
}

#nav img:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    background-color: #476680;
    transform: translateY(-10px);
}

.card {
    width: 90vw;
    max-width: 1024px;
    margin: 0 auto;
    transition: all 250ms;
    opacity:0;
    animation: fadeIn 1s ease-in-out forwards;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#title {
    text-align: center;
    margin:25px;
}

.sample {
    display: block;
    margin: 0 auto;
    width:70vw;
    max-width: 456px;
    height: auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 1.5px;
    transition: all 250ms;
    opacity:0;
    animation: popIn 0.4s ease-in-out forwards;
}

@keyframes popIn {
    0% {
        display: initial;
        transform: scale(1.1,1.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.1,1.1);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}

.subtitle {
    color: #476680;
}

.thinner {
    font-weight: 400;
    font-style: italic;
}