@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Pacifico&display=swap');

html, body {
    margin:0;
}

@media (pointer:none), (pointer:coarse) {
    #hero {
        height: 93vh !important;
    }
}

/* Dark mode!! */
@media (prefers-color-scheme: dark) {
    html {
        background-color: #282828;
    }
    #name {
        color:#FCFCFC !important;
    }
    .card {
        background-color: #476680 !important;
    }
    .card:hover {
        background-color: #BBC3D1 !important;
    }
}

#hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: auto;
}

#hero-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    -ms-user-select: none;
    user-select: none;
}

#hero-top-right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#hero-top-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

#profile-pic {
    border-radius: 1.5px;
    max-width: 256px;
    opacity:0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    animation: popIn 1s ease-in-out forwards;
}

@keyframes popIn {
    0% {
        display: initial;
        transform: scale(1.1,1.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.1,1.1);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}

#name {
    font-family: 'Pacifico', sans-serif;
    color:#476680;
    margin: 0;
    margin-bottom: -10px;
    font-size: calc(100% + 5vw);
}

#title {
    font-family: 'Montserrat';
    color: #FCFCFC;
    font-weight: 400;
    background-color: #476680;
    padding: 5px 10px;
    border-radius: 1.5px;
    margin:0;
    font-size: calc(100% + 1vw);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

#hero-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 600;
    height: 25vw;
    width: 25vw;
    max-width: 256px;
    max-height: 256px;
    font-size: max(4px,2vw);
    color:#FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    cursor:pointer;
    -ms-user-select: none;
    user-select: none;
    transition: all 250ms; 
    border-radius: 1.5px;
}

.card:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    background-color: #476680;
    transform: translateY(-10px);
}

.card:active {
    box-shadow: none;
}

.one {
    background-color: #BBC3D1;

}
.two {
    background-color: #9BBADD;
}

.three {
    background-color: #7EBDE8;
}

#hero-footer {
    display: flex;
    flex-flow: row wrap;
}

#hero-footer img {
    width:10vw;
    max-width: 64px;
    height: auto;
    margin:10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: scaleIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0,0);
    }
    to {
        opacity: 1;
        transform: translate(1,1);
    }
}