@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    font-family: 'Montserrat';
    overflow-x: hidden !important;
    color:#0C0C0C;
    scroll-behavior: smooth;
}

body {
    margin:0px 15px;
}

a {
    all:unset;
    color:#476680;
    cursor: pointer;
}

@media (pointer:none), (pointer:coarse) {
    #hero {
        height: 93vh !important;
    }

    .projects {
        height: 93vh !important;
    }
}

/* Dark mode!! */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #282828;
        color:#FAFAFA !important;
    }

    #hero h1 {
        color: #7EBDE8 !important;
    }

    h2 {
        color: #7EBDE8 !important;
    }

    a {
        color: #7EBDE8 !important; 
    }
    
    #nav-home {
        background-color: #282828 !important;
    }
}

#nav-home {
    position: fixed;
    z-index: 1;
    width: 20vw;
    max-width: 64px;
    height: auto;
    padding:15px;
    margin:25px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    background-color: white;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    cursor: pointer;
    transition: all 250ms;
}

#nav-home:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
    background-color: #476680;
    bottom:10px;
}

#hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    height: 100vh;
}

#hero h1 {
    font-size: 3em;
    color:#476680;
}

#hero p {
    font-size: 2em;
    text-align: center;
}

#hero span {
    font-weight: 200;
}

h2 {
    color:#476680;
}

.sample-img {
    width: 70vw;
    max-width: 512px;
    height: auto;
    border-radius: 1.5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.projects {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align:center;
    max-width: 1080px;
    margin:0 auto;
}