@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

#App {
  background-color: #001736;
  min-height:90vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: #79D7FD;
  font-family: 'Lato', sans-serif;
}

html, body {
  overflow: hidden;
}

/* 

  ## Color Pallete for project

  Dark Blue: #0091ea;
  Blue: #00b0ff;
  Light Blue: #40c4ff;
  Neon Blue: #80d8ff;
  foreground: #ffffff;
  background: #282c34;

*/