/* Settings for AppDrawer */

#app-drawer {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #00BBFA;
    padding:0px 25px;
    margin:0;
}

#app-drawer img {
    cursor: pointer;
}

#app-drawer #wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#app-drawer #drawer-icon {
    width:auto;
    height:2.5vh;
    animation: fadeIn 5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-fill-mode: forwards;
}

#app-drawer #home-icon {
    width:auto;
    height: 4vh;
    padding-right:15px;
    animation: fadeIn 5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-fill-mode: forwards;
}

#app-drawer #return-icon {
    width:auto;
    height: 2.5vh;
    padding-right:20px;
    animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    animation-fill-mode: forwards;
}

#app-drawer #github-icon {
    width:auto;
    height:4.2vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(90deg);
    }
}

@keyframes rotateRight {
    from {
        transform: rotate(90deg);
    } to {
        transform: rotate(0deg);
    }
}