.projects-title {
    font-size:2.5rem;
    margin:25px 0px 35px 0px !important;
    font-weight:bolder;
}

.projects-description {
    font-size: 1.5rem;
    text-align: center;
    padding: 0rem 2rem;
    color:#ffffff;
}

.projects-options {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width:50vw;
    margin:25px 0px;
}

.btn-projects {
    font-weight: 750;
    padding:1rem 2rem;
    margin:0.3rem;
    font-size:1rem;
    border-radius:4px;
    border: 2px solid #00BBFA;
    color: #00BBFA;
    background-color: rgba(128, 216, 255, 0);
    cursor: pointer;
    font-family: 'Lato';
}

.btn-projects span {
    font-weight: 400;
}

.btn-projects:active {
    transform: translateY(-5px);
}