/* Settings for AppDrawer */

#app-drawer {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #00BBFA;
    padding:0px 25px;
    margin:0;
}

#app-drawer img {
    width:auto;
    height:3vh;
    cursor: pointer;
}

#app-drawer #github-icon {
    width:auto;
    height:5.5vh;
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(90deg);
    }
}

@keyframes rotateRight {
    from {
        transform: rotate(90deg);
    } to {
        transform: rotate(0deg);
    }
}